<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <% if @user.favorites.any? %>
  <a href="<%= favorites_user_path(@user) %>">
    <strong id="favorites" class="stat">
      <i class="glyphicon glyphicon-star"></i>
    </strong>
    favorites
  </a>
  <% end %>
</div>